.currency-converter-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.converter-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.button-container {
  text-align: center;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.result {
  text-align: center;
  margin-top: 20px;
}

.swap-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.mat-icon {
  font-size: 24px;
}
