<div class="currency-converter-container">
  <h2 class="title">Currency Converter</h2>

  <mat-card class="mat-elevation-z2">
    <form [formGroup]="converterForm" (ngSubmit)="convert()">
      <div class="converter-grid">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Amount</mat-label>
          <input matInput formControlName="amount" id="amount" type="number" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>From</mat-label>
          <mat-select formControlName="fromCurrency" id="fromCurrency">
            <mat-option *ngFor="let currency of exchangeRates | keyvalue" [value]="currency.key">
              {{ currency.key }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Swap Button -->
        <div class="swap-button-container">
          <button mat-icon-button color="warn" type="button" (click)="swapCurrencies()">
            <mat-icon>swap_horiz</mat-icon>
          </button>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>To</mat-label>
          <mat-select formControlName="toCurrency" id="toCurrency">
            <mat-option *ngFor="let currency of exchangeRates | keyvalue" [value]="currency.key">
              {{ currency.key }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="converterForm.invalid">Convert</button>
        <button mat-raised-button color="warn" type="button" (click)="resetForm()">Reset</button>
      </div>
    </form>

    <div *ngIf="convertedAmount !== null" class="result">
      <h3>Converted Amount: {{ convertedAmount }}</h3>
    </div>
  </mat-card>
</div>