<div class="historical-trends-container">
  <h2 class="title">Historical Exchange Rate Trends</h2>

  <mat-card class="mat-elevation-z2">
    <div class="controls">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Base Currency</mat-label>
        <input matInput type="text" [(ngModel)]="baseCurrency" placeholder="e.g., USD" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Target Currencies (max 3)</mat-label>
        <mat-select [(ngModel)]="selectedCurrencies" multiple [disabled]="selectedCurrencies.length >= 3">
          <mat-option [disabled]="selectedCurrencies.length >= 3" *ngFor="let currency of workingHistoricalCurrencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="reset-button-container">
        <!-- <button mat-raised-button color="accent" (click)="selectAllTargetCurrencies()">Select All</button> -->
        <button mat-raised-button color="warn" (click)="resetTargetCurrencies()">Reset Target Currencies</button>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="selectedDate"
          [matDatepickerFilter]="disableFutureDates"
          (dateChange)="onDateChange($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="loadHistoricalData()">Load Chart</button>
      </div>
    </div>
  </mat-card>

  <div class="chart-container">
    <canvas id="historicalChart"></canvas>
  </div>
</div>