.exchange-rates-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #3f51b5;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

a.mat-button {
  color: white;
  font-weight: 500;
}

a.active-link {
  border-bottom: 2px solid #fff;
}

.full-width-table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-sort-header-container {
  align-items: center;
}